<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>
            Home
        </title>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="./static/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
        <link href="./static/css2/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    </head>
    <!-- <body style="display: flex;flex-direction: column;  height: 100vh;"> -->
    <body style="display: flex;flex-direction: column;justify-content: space-between">
        <nav>
            <div class="nav-wrapper" style="display: flex; justify-content: space-between; align-items: center">
              <a href="#!" class="brand-logo">
                <img src="{{ url_for('static', filename='images/v_logo.png') }}" alt="Logo">
              </a>
              <div class="center-align" style="flex-grow: 1;">
                    For Self Practice
              </div>          
              <ul class="right hide-on-med-and-down" style="display: flex; align-items: center;">
                <li>Welcome {{user}}!!</li>
                <li class="divider"></li>
                <li><a href="#!">
                    <img src="{{ url_for('static', filename='images/settings.png') }}" alt="settings" class="header_content_img">
                </a></li>
              </ul>
            </div>
          </nav>       
          {% block content %} 
        
        {% endblock %}
        <nav><!--header -->
            <div class="nav-wrapper">
              <ul class="right hide-on-med-and-down">
                <li>Thanks for Visiting!!</li>
              </ul>
            </div>
          </nav>
    </body>
</html>